<% include ../partials/buyerHeader %>


<div class="d-flex"
     id="wrapper">
    <aside>
        <!-- Sidebar -->
        <div class="bg-light border-right"
             id="sidebar-wrapper">
            <div class="sidebar-heading">Side Bar</div>
            <div class="list-group list-group-flush">
                <a href="#"
                   class="list-group-item list-group-item-action bg-light">Overview</a>
                <a href="#"
                   class="list-group-item list-group-item-action bg-light">Profile</a>
                <a href="#"
                   class="list-group-item list-group-item-action bg-light">Filters</a>
                <a href="#"
                   class="list-group-item list-group-item-action bg-light">Sort Features</a>
                <a href="#"
                   class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <a href="#"
                   class="list-group-item list-group-item-action bg-light">Status</a>
            </div>
        </div>
    </aside>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <% items.forEach(function (item) { %>
                <div class="card"
                     style="width: 18rem; margin-bottom: 20px">
                    <img class="card-img-top"
                         src="<%= item.image %>"
                         alt="Card image cap"
                         height="250px"
                         width="200px">
                    <div class="card-body">
                        <h5 class="card-title"><%= item.productName %></h5>
                        <p>Expiry Date: <%= item.expiryDay%>/<%= item.expiryMonth%>/<%= item.expiryYear%></p>
                        <p>Rs. <%= item.mrp/2 %></p>
                    </div>
                    <p class="text-center">
                        <a href="/buyer/home/<%= item._id %>"
                           class="btn btn-success">View</a>
                    </p>
                </div>
            <% }); %>
        </div>
    </div>
</div>


<% include ../partials/buyerFooter %>